{% extends "base.html" %}
{% block contenido %}
    <nav class="gtco-nav" role="navigation" style="background-color: black">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo"><a href="{% url 'admin_index' %}">Partes<em>Meteorologicos</em></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1 main-nav">
                    <span>Insertar </span>
                    <ul>
                        {% if 'principal.add_estacion' in request.user.get_all_permissions %}
                            <li style="cursor: pointer"><a onclick="window.location.replace('/estaciones/adicionar/')">Estaciones</a>
                            </li>
                        {% endif %}
                        {% if 'principal.add_reportevariablemeteorologica' in request.user.get_all_permissions %}
                            <li style="cursor: pointer"><a onclick="window.location.replace('/rvm/adicionar/')">RVM</a>
                            </li>
                        {% endif %}
                        {% if 'principal.add_informevariablemeteorologicageneral' in request.user.get_all_permissions %}
                            <li style="cursor: pointer"><a
                                    onclick="window.location.replace('/iovmg/adicionar/')">IOVMG</a>
                            </li>
                        {% endif %}
                        {% if 'principal.add_informeoficialvariablemeteorologicapronvincial' in request.user.get_all_permissions %}
                            <li style="cursor: pointer"><a
                                    onclick="window.location.replace('/iovmp/adicionar/')">IOVMP</a>
                            </li>
                        {% endif %}
                        {% if 'principal.add_partemeteorologicoprovincial' in request.user.get_all_permissions %}
                            <li style="cursor: pointer"><a onclick="window.location.replace('/pmp/adicionar/')">PMP</a>
                        {% endif %}
                        {% if 'principal.add_partemeteorologicogeneral' in request.user.get_all_permissions %}
                            <li style="cursor: pointer"><a onclick="window.location.replace('/pmg/adicionar/')">PMG</a>
                        {% endif %}
                    </ul>
                </div>
                Bienvenido {{ usuario }}<br>
                <a href="{% url 'cerrar_sesion' %}">Cerrar sesion</a><br>
                <a href="{% url 'index' %}">Ver listado de partes meteorológicos</a><br>
            </div>

        </div>
    </nav>
    <section id="gtco-about" data-section="about" style="padding: 10em 0">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 heading animate-box" data-animate-effect="fadeIn">
                    {% load crispy_forms_tags %}

                    <!--Login-->
                    <div class="container py-5">
                        <h1>Modificar una {{ objeto }}</h1>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_ul }}
                            <button class="btn btn-primary" type="submit">Guardar cambios</button>
                        </form>
                        <a class="btn btn-danger" href="eliminar/">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}